.principal {
    width: 80%;
    margin: 12rem auto 0;

    & .section-icon-text {
        display: flex;
        justify-content: space-between;

        & .icon-text-info {
            width: 20%;
            margin: 2em;
            text-align: center;

            & img {
                width: 60%;
                text-align: center;
            }
        }
    }

    & .section-hoteis {
        margin-top: 8em;
        margin-bottom: 8em;

        & .section-infos-hoteis {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
    
            & .infos-hoteis {
                width: 30%;
    
                & img {
                    width: 100%;
                    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
                    border-radius: 10px;
                }

                & .nome-hotel {
                    font-size: 1.8rem;
                }

                & .avaliacao {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding: .4em; 
                    
                    & i {
                        position: relative;
                        top: 4.5px;
                        left: 5px;
                    }
                }
            }
        }

        & a {
            display: flex;
            justify-content: flex-end;
            color: black;
            margin-top: 1.5em;

            &:hover {
                text-decoration: underline;
            }

            & i {
                position: relative;
                top: 3px;
                left: 5px;
            }
        }
    }

    & .section-teste {
        width: 80%;
        margin: auto;
        text-align: center;

        & p {
            text-align: justify;
        }

        & .btn-teste {
            margin-top: 2rem;
            background-color: #FFE03980;
            border-radius: 10px;

            &:hover {
                background-color: #ffd900a1;
                transform: scale(1.03);
                transition: 300ms;
            }

            &:focus {
                outline: 1px solid #ffd900;
            }

            & a {
                font-size: 1.5rem;
                color: #000;
            }
        }
    }
}

.h2-titulo {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/* css: main como funciona */
.como_funciona {
    width: 80%;
    margin: auto;
    text-align: justify;

    & .titulo_comofunciona {
        text-align: center;
        padding: 2rem 0 1rem;
        font-size: 3.5rem;
    }

    & span{
        font-weight: bold;
    }

    & .li_comofunciona {
        margin: 1em 0;

        & i {
            margin-right: .5em;
        }
    }
}

@media (max-width: 975px) {
    .principal {
        & .section-icon-text {
            & .icon-text-info {
                width: 30%;
                margin: 1em;

                & img {
                    width: 60%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .principal {
        & .section-icon-text {
            display: inline-block;
            text-align: center;

            & .icon-text-info {
                width: 40%;
                display: inline-block;
                vertical-align: top;
            }
        }

        & .section-hoteis {
            & .section-infos-hoteis {
                display: inline-block;
                align-items: center;

                & .infos-hoteis {
                    width: 40%;
                    display: inline-block;
                    vertical-align: top;
                    margin: 1.5em;
                }
            }
        }
    }
    
    .como_funciona {
        & .titulo_comofunciona {
            font-size: 3rem;
        }
    }
}

@media (max-width: 480px) {
    .principal {
        margin-top: 7.5rem;

        & .section-icon-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2em;

            & .icon-text-info {
                width: 60%;

                & img {
                    width: 50%;
                }
            }
        }

        & .section-hoteis {
            & .section-infos-hoteis {
                display: flex;
                flex-direction: column;
                align-items: center;

                & .infos-hoteis {
                    width: 90%;
                    margin: 1.5em;
                }
            }
        }

        & .h2-titulo {
            text-align: center;
        }   
    }

    .como_funciona {
        width: 100%;

        & .titulo_comofunciona {
            font-size: 2.5rem;
        }
    }
}