.principal {
    & .section-info-hotel {
        text-align: center;

        & .nome-hotel {
            font-size: 4rem;
        }
        
        & .div-carrosel {
            width: 100%;
            max-width: 80rem;
            overflow: hidden;
            position: relative;
            margin: 0 auto;
            padding: 0 10rem;

            & .carrosel-inner {
                display: flex;
                transition: transform 0.5s ease-in-out;

                & .carrosel-item {
                    min-width: 100%;
                    height: 25rem;
                    object-fit: cover;
                    border-radius: 30px;
                    margin: 2em 0;
                    padding: 1em;
                }
            }
        }

        & .div-carrosel-indicadores {
            display: flex;
            justify-content: center;
            position: relative;
            bottom: 45px;
            left: 50%;
            transform: translateX(-50%);

            & .ponto {
                height: 8px;
                width: 8px;
                margin: 0 5px;
                background-color: #ffd53ba6;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.3s ease;
                cursor: pointer;

                &.ativo {
                    background-color: #FFD43B;
                }
            }
        }
    }

    & .p-principal {
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        padding: 2.5rem 5rem;
        margin: 1em 0;
        font-size: 1.7em;
        text-align: justify;
    }

    & .p-texto, .patinhas {
        font-size: 1.5em;
    }

    & .titulo-secoes {
        font-size: 2.5rem;
        padding: 1.5rem 5rem;
    }

    & .lista {
        display: flex;
        justify-content: center;

        & .lista-beneficios {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 1.5rem 5rem;
            gap: 0 100px;
            max-width: 90%;

            & .beneficios {
                padding: .5em;
                display: flex;
                align-items: center;
                font-size: 1.2em;

                & img {
                    width: 2.5em;
                    margin: 0 1em;
                }
            }
        }    
    }

    & .outros-servicos {
        display: block;
        margin: 2rem auto;
        font-size: 1.5rem;
        background-color: #FF67C599;
        padding: 1rem 2rem;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }

    .div-reserva {
        background-color: #fff;
        width: 40%;
        margin: 5rem auto 3rem;
        border-radius: 5px;
        text-align: center;
        padding: 1.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

        & .p-reserva-valor {
            display: flex;
            flex-direction: column;
            text-align: left;
            width: fit-content;
            margin: auto;
            font-size: 1.5rem;
            padding-bottom: 2rem;

            & span {
                font-size: 3.5rem;
                font-weight: 600;
                padding: 0;
            }
        }

        & .data-reserva {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: fit-content;
            margin: auto;

            & label {
                font-size: 1.5rem;
            }

            & input {
                border-radius: 5px;
                background-color: rgba(0, 0, 0, 0.05);
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
                padding: .5rem;
            }
        }

        & .btn-reserva {
            margin: 3rem 0 1rem;
            padding: 1rem 2rem;
            font-size: 2rem;
            background-color: #93CBDB;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

            &:hover,
            &:focus {
                background-color: #93cbdb9d;
            }
        }

        & .cancelamento {
            font-size: 1.1rem;
        }
    }

    .section-feedback {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        padding: 2.5rem 0;

        & .div-avaliacao {
            padding: 0 20px;
            width: 200px;

            & h2 {
                font-size: 20px;
                margin-bottom: 10px;
            }

            & .estrelas {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }

            & .barra {
                background-color: #fff;
                border-radius: 10px;
                height: 10px;
                flex: 1;
                margin-right: 10px;
                overflow: hidden;
                position: relative;
            }

            & .preenchido {
                background-color: #f7db6a;
                height: 100%;
                border-radius: 10px;
            }

            & span {
                font-size: 14px;
                color: #553e4e;
            }

            & button {
                margin-top: 20px;
                padding: 10px;
                background-color: white;
                border: none;
                border-radius: 10px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
                cursor: pointer;
                width: 100%;
                color: #000;
                font-size: 14px;
            }
        }

        & .div-feedback {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 70%;
            margin-left: 2rem;
            gap: 3rem 5rem;
            font-size: 1.5rem;

            & .feedback-titulo {
                display: flex;
                flex-direction: row;
                margin-bottom: 1rem;
                
                & .patinhas {
                    font-size: 1.5rem;
                    margin: 0 1rem;
                }
            }
        }
    }

    iframe {
        width: 70%;
        height: 30rem;
        display: block;
        margin: auto;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }

    & .collapse {
        background-color: #93CBDB;
        position: sticky;
        bottom: 90px;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        display: block;
        margin-top: 5rem;
        margin-left: auto;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

        & i {
            position: relative;
            top: 10px;
            left: 13px;
            color: rgba(0, 0, 0, 0.7);
        }

        & a {
            display: none;
        }

        &:focus {
            outline: 2px solid #398ea5;
            color: #93cbdb9d;
        }

        &:hover,
        &:focus {
            width: 200px;
            padding: .5rem;
            border-radius: 10px;
            background-color: #93CBDB;
            position: sticky;
            bottom: 100px;
            text-align: center;
            align-self: center;
            transition: 300ms ease-in-out;

            & a {
                display: block;
                position: relative;
                top: 6px;
                font-size: 1.3rem;
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            & i {
                display: none;
            }
        }
    }
}

@media (max-width: 975px) {
    
}
@media (max-width: 768px) {
    .principal {
        & .section-info-hotel {
            & .div-carrosel {
                padding: 0 5rem;
            }
        }

        & .lista {
            display: flex;
            justify-content: center;

            & .lista-beneficios {
                width: 100%;
                padding: 0;
                margin: 0;
                gap: 0;
            }
        }

        & .div-reserva {
            width: 70%;
        }

        & .titulo-secoes {
            padding: 1rem;
        }

        & .section-feedback {
            & .div-avaliacao {
                align-self: flex-start;
                padding: 0 1rem;
            }

            & .div-feedback {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
@media (max-width: 480px) {
    .principal {
        & .section-info-hotel {
            & .div-carrosel {
                padding: 0 2rem;
                & .carrosel-inner {
                    & .carrosel-item {
                        padding: .5rem;
                    }
                }
            }
        }

        & .p-principal {
            padding: 2rem;
        }

        & .lista {
            padding-bottom: 2rem;

            & .lista-beneficios {
                display: flex;
                flex-direction: column;

                & .beneficios {
                    border-top: 1px solid rgba(0, 0, 0, 0.3);

                    &:first-of-type {
                        border: none;
                    }
                }
            }
        }

        & .div-reserva {
            width: 100%;
        }

        & .section-feedback {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & .div-avaliacao {
                align-self: center;
                margin-bottom: 3rem;
            }

            & .div-feedback {
                display: flex;
                flex-direction: column;
                width: 90%;
                text-align: justify;
            }
        }

        & iframe {
            width: 100%;
            height: 25rem;
        }
    }
}