body {
    background-color: #DCF4FC;
}

.principal {
    display: flex;
    height: 100vh;
}

.imagem-fundo {
    background-size: cover;
    background-image: url(/assets/imagens/background-image.svg);
    display: inline-block;
    background-position: center;
    z-index: 1;
}

form {
    padding: .7rem;
}

.login-cad-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    margin: auto;

    & .nome-sistema {
        font-size: 2rem;
        margin: 2rem;
        z-index: 1;

        & a {
            text-decoration: none;
        }

        & h1 {
            color: #93CBDB;
            font-family: 'Rammetto One', sans-serif;
        }

        & span {
            color: #f494d4;
            font-family: 'Rammetto One', sans-serif;
        }
    }

    & .login-cad-box {
        background-color: #fffdfd;
        border-radius: 15px;
        text-align: center;
        padding: 1.5rem;
        box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.705);
        z-index: 1;
        font-weight: 600;
        margin-bottom: 5rem;

        & .titulo-login-cad {
            margin: 1.5rem;
            font-size: 2rem;
        }

        & label {
            display: block;
            text-align: left;
            margin: .5rem;
            font-size: 1.5rem;
        }

        .div-inputs {
            display: flex;
            flex-direction: column;
            
            & .icone-input {
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: #f1f1f1;
                font-size: 1.6rem;
                border-radius: 30px;
                padding: .8rem 1.5rem;
                box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.705);
            }

            & input {
                background-color: transparent;
            }
            
            & i {
                color: rgba(0, 0, 0, 0.3);
                padding-right: .7rem;
                margin-right: .7rem;
            }
            & .borda-i {
                border-right: 1px solid rgba(0, 0, 0, 0.3);
            }
            
            &:hover {
                transform: scale(1.03);
                transition: 300ms;
            }
        
            &:focus {
                outline: 1px solid #1100ff;
            }
        }

        & .input {
            margin-bottom: 2rem;
            width: 100%;
        }

        & button {
            margin-top: 2.5rem;
            margin-bottom: 1.5rem;
            width: 100%;
            padding: .5rem;
            border-radius: 15px;
            font-size: 1.6rem;
            background-color: #93CBDB;
            box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.705);
            font-weight: 600;

            &:hover {
                background-color: #93CBDB;
                transform: scale(1.03);
                transition: 300ms;
            }

            &:focus {
                outline: 1px solid #9e9e9e;
            }
        }

        & .a-login-cad {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 1.5rem;
        }

        & .p-login-cad {
            margin: .5rem;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.2rem;
        }
    }
}

.div-dupla {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.termos3{
    display: flex;
    align-items: baseline;
    margin-bottom: 1.5em;

    & #termos{
        width: 15px;
        height: 15px;
        margin-top: 1.3rem;
    }
    
    & .link-termos {
        font-size: 1.2rem;
    }
}

.pagina {
    display: none;
}

.ativo {
    display: block;
}

.cep {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    font-size: 1.2rem;
    margin-top: .2rem;

    & i {
        padding-left: .7rem;
    }
}

.select{
    background-color:transparent;
    width: 100%;
    appearance: none;
    background: transparent url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="gray" d="M7 10l5 5 5-5H7z"/></svg>') no-repeat right 10px center;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 0;
}

#particles-cad {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 0;
}

#proximo,
#anterior {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #000;
    margin-bottom: 2rem;

    & i {
        padding: 0 .5rem;
    }
}

#anterior {
    justify-content: flex-start;
}

.proximo-anterior {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 976px) {
    .imagem-fundo {
        width: 60%;
        height: 100vh;
        position: sticky;
        bottom: 0;
        top: 0;
    }

    .login-cad-section {
        width: 60%;

        & .login-cad-box {
            width: 70%;
        }
    }
}

@media (max-width: 975px) {
    .imagem-fundo {
        width: 50%;
    }

    .login-cad-section {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .principal {
        flex-direction: column;
    }

    .imagem-fundo {
        display: block;
        width: 100%;
        height: 250px;
        position: relative;
    }

    .login-cad-section {
        width: 70%;
        margin: auto;
        margin-bottom: 8rem;
    }
}

@media (max-width: 480px) {
    .imagem-fundo {
        display: block;
        width: 100%;
        height: 150px;
        position: relative;
    }

    .login-cad-section {
        width: 80%;
        margin: auto;
        margin-bottom: 5rem;
    }

    .div-dupla {
        flex-direction: column;
        gap: 0;
    }
}