:root {
    --fonte-titulo: 2.5rem;
    --fonte-subtitulo: 1.7rem;
    --fonte-paragrafo: 1.7rem;
}

.principal {
    & .titulo-pagamento {
        text-align: center;
        font-size: var(--fonte-titulo);
        font-weight: 600;
        margin-top: 2rem;
    }

    & .p-pagamento {
        font-size: 1.7rem;
        margin: 2rem 0;
    }

    & .op-pagamento {
        font-size: 1.7rem;
        margin: 0 .5rem;

        & i {
            margin: .5rem 1rem;
        }

        & .op-cartoes {
            & .cartao-alinhamento {
                display: flex;
                gap: .5rem;
                margin-left: 1rem;
            }

            & .info-cartao-cadastrado {
                display: flex;
                font-size: 1.5rem;
                align-items: center;
                background-color: #fff;
                border-radius: 10px;
                padding: 1rem;

                & .icone-cartao {
                    width: 4rem;
                }
            }
        }
    }

    & .container-forms {
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin: 5rem 0;
    }

    & .lado-a-lado {
        display: flex;
        gap: 0 6rem;
    }

    & .itens-forms {
        display: flex;
        flex-direction: column;

        & .label-pagamento {
            font-size: 1.7rem;
            margin-right: .5rem;
        }

        & .cod-cartao {
            width: 120%;
            padding: .4rem .1rem;
            border-radius: .4rem;
            border: 1px solid #FF67C5B2;
        }

        & .input-dados {
            width: 70%;
            padding: .4rem .1rem;
            border-radius: .4rem;
            border: 1px solid #FF67C5B2;
        }

        & .containe-check {
            display: flex;
            align-items: center;
        }

        & .check-salvar {
            width: 1em;
        }

        & .label-check {
            font-size: 1.7rem;
        }
    }

    & .btn-salvar {
        display: block;
        margin: auto;
        background-color: #93CBDB;
        font-size: 2rem;
        padding: .8rem 4rem;
        border-radius: .5rem;
    }

    & .nome-hotel {
        font-size: 1.8rem;
        margin: 3rem 0;

        & span {
            font-weight: 600;
            font-family: Quicksand, sans-serif;
        }
    }

    & .infos-hospedagem {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        & .cards-infos {
            border: .1em solid #B0B0B0E5;
            background-color: #fff;
            padding: 1em 1.5em;
            width: 25rem;
            box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.7);

            & p {
                font-size: 1.7rem;
            }

            & span {
                font-weight: 600;
            }
        }
    }

    & .servicos-extras {
        text-align: center;

        & .subtitulo-servico {
            font-size: var(--fonte-subtitulo);
            margin: 5rem 0 3rem;
        }

        & .container-sevicos {
            display: flex;
            gap: 3rem;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        & .preco-servicos {
            text-align: center;
        }
    }

    & .preco-final {
        text-align: center;

        & .subtitulo-pagamento {
            font-size: var(--fonte-subtitulo);
            margin: 5rem 0 3rem;
        }

        & .p-preco-final {
            font-size: var(--fonte-paragrafo);
            margin-top: 2rem;
        }

        & .valor-final {
            background-color: #FFE03980;
            width: 15rem;
            margin: auto;
            padding: 1rem;
            border-radius: .5rem;
            margin-top: 5rem;
            margin-bottom: 5rem;
            box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);

            & p {
                font-size: 1.7rem;
            }

            & span {
                font-weight: 600;
                font-size: 1.7rem;
            }
        }
    }

    & .btn-confirmar {
        background-color: #93CBDB;

        margin-top: 5rem;
        margin: auto;
    }

    & .container-pix {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;

        & .qr-code {
            width: 30%;
        }

        & span {
            font-size: var(--fonte-paragrafo);
            font-weight: 600;
        }

        & .p-pix {
            font-size: var(--fonte-paragrafo);
            text-align: center;
            margin: 1rem 0;
        }

        & .btn-pix {
            background-color: #FF67C5B2;
            margin-top: 1rem;
            border-radius: .4rem;
        }
    }
}

.itens-servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.cards-servicos {
    background-color: #93CBDB4D;
    display: flex;
    width: 20rem;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: .4rem;

    & .icons-servicos {
        width: 2rem;
    }

    & .tipo-servico {
        font-size: 1.7rem;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-salvar,
.btn-confirmar {
    background-color: #93CBDB;
    font-size: 2rem;
    padding: 0.8rem 4rem;
    border-radius: 0.5rem;
    animation: fadeIn 0.6s ease-out;
}

.btn-salvar:hover,
.btn-confirmar:hover {
    background-color: #76b0ca;
    transform: scale(1.1);
    cursor: pointer;
}

.dados-cartao,
.pagamento_pix {
    display: none;
}

.modal {
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: .4rem;
    z-index: 10;
}

.modal-content {
    padding: 2rem;
    border-radius: 0.5rem;
    width: 100%;
    overflow-y: auto;
    position: relative;
}

.delete {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}


@media (max-width: 768px) {
    .principal {
        & .container-pix {
            & .p-pix {
                width: 90%;
                overflow-wrap: break-word;
                word-wrap: break-word;
                word-break: break-all;
                hyphens: auto;
            }

            & .qr-code {
                width: 40%;
            }
        }

        & .itens-forms {
            & .cod-cartao,
            & .input-dados {
                width: 100%;
            }
        }
    }
}

@media (max-width: 480px) {
    .principal {
        .p-pagamento {
            text-align: center;
        }

        & .nome-hotel {
            text-align: center;
        }

        & .itens-forms {
            & .cod-cartao,
            & .input-dados {
                width: 100%;
            }
        }

        & .lado-a-lado {
            flex-direction: column;
            gap: 2rem;
        }

        & .container-pix {
            & .qr-code {
                width: 50%;
            }
        }
    }

    .modal {
        left: 10%;
        right: 10%;
    }
}