.principal {
    & .titulo-h1 {
        font-size: 3.2rem;
        text-align: center;
        padding-bottom: 2rem;
    }

    & .section-h2 {
        font-size: 2.7rem;
        font-weight: bold;
        text-align: center;
        padding: 1rem;

        & .h2-span {
            background-color: #FF67C5B2;
            padding: .2rem 1.5rem;
            border-radius: 30px;
            margin: 0 1rem;
        }
    }

    & .section-h3 {
        font-size: 2.2rem;
        text-align: center;
    }

    & .p-texto {
        font-size: 1.7rem;
        margin: 2rem 0;
    }
    
    & .p-input {
        font-size: 1.5rem;
        margin: 0 .5rem;
        
        & i {
            margin: .5rem 1rem;
        }
    }

    & .p-label {
        font-size: 1.7rem;
        
    }

    & .div-servicos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem 3rem;
        margin: 1rem auto 2rem;
        width: 80%;

        & .servicos-btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: .5rem;
            background-color: #f8f4ec;
            border-radius: 7px;
            border: 1px solid #ff67c5a2;
            
            &:hover {
                background-color: #fff;
            }
            
            &.ativo {
                background-color: #93CBDB4D;
                border: 1px solid #93CBDB;
            }

            & img {
                width: 3.2rem;
                margin: 0 1rem;
            }
        }
    }

    & .btn-continuar {
        display: block;
        margin: 5rem auto;
        padding: .5rem 3rem;
        border-radius: 10px;
        background-color: #93CBDB;

        &:hover {
            transform: scale(1.03);
            transition: 300ms;
        }

        &:focus {
            outline: 1px solid #93CBDB4D;
        }

        & a {
            font-size: 2.7rem;
            font-weight: 200;
            color: black;
            text-decoration: none;
        }
    }

    
    & #mais-info-servico {
        width: 100%;
        height: 10rem;
        resize: none;
        margin: 1rem 0;
        padding: .7rem 1rem;
        border: 1px solid #FF67C5B2;
        border-radius: 7px;
    }

    & form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: end;
        width: 85%;
        gap: 50px 150px;
        margin: 2rem auto;

        & .select {
            border: 1px solid #FF67C5B2;
            border-radius: 5px;

            & select {
                width: 100%;
                margin: 0;
                padding: .5rem;
                display: block;
                border-radius: 5px;
                background: #fff url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="gray" d="M7 10l5 5 5-5H7z"/></svg>') no-repeat right 10px center;
                appearance: none;
                align-self: flex-end;
            }

            & option {
                border: none;
            }
        }

        & .collapse {
            position: relative;
            border: 1px solid #FF67C5B2;
            border-radius: 5px;

            & .nome-menu {
                display: flex;
                flex-direction: row;
                border-radius: 5px;
                background: #fff url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="gray" d="M7 10l5 5 5-5H7z"/></svg>') no-repeat right 10px center;

                & p {
                    padding: .5rem;
                }

                & i {
                    display: flex;
                    align-items: center;
                    padding: .3rem;
                    margin-left: auto;
                    transform: none;

                    &:hover {
                        background-color: rgb(224, 220, 220);
                    }
                }
            }

            & .menu-collapse {
                display: none;
                position: absolute;
                z-index: 1;
                background-color: #fff;
                width: 100%;
                border-radius: 5px;

                & .item-menu {
                    padding: .6rem 1rem;

                    &:hover {
                    background-color: #93CBDB4D;
                    }
                }
            }

            & .show {
                display: block;
            }
        }

        & .data-hora-reserva {
            display: flex;
            flex-direction: column;

            & input {
                padding: .5rem;
                margin: 0 0 1rem 0;
                border-radius: 5px;
                border: 1px solid #FF67C5B2;
            }
        }
    }

    & .section-conteudo {
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        padding: 3rem 0;

        &:nth-child(4) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }
    }
}

@media (max-width: 768px) {
    .principal {
        & form {
            width: 100%;
            gap: 50px 100px;
            align-items: end;
        }

        & .div-servicos {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 480px) {
    .principal {
        & form {
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;

            & .div-campos,
            & .data-hora-reserva {
                width: 100%;
            }
        }

        & .div-servicos {
            display: flex;
            flex-direction: column;
            justify-content: center;

            & .servicos-btn {
                border: 1px solid #ff67c5a2;
            }
        }
    }
}