body {
    background-image: url('/assets/imagens/brinquedo-verde.jpg.png'), url('/assets/imagens/brinquedo-vermelho.jpg.png'), url('/assets/imagens/brinquedo-roxo.png');
    background-position-x: left, right, left;
    background-position-y: 20%, 35%, 75%;
    background-repeat: no-repeat;
    background-size: 25rem;
}

.principal {
    width: 70%;
    margin: auto;
    text-align: center;

    h2 {
        font-family: "Quicksand", sans-serif;
        font-size: 4.3em;
        font-weight: 200;
        padding: .5em 0;
    }
    
    p, li {
        font-size: 1.5em;
        font-family: "Quicksand", sans-serif;
    }

    .infos {
        text-align: justify;
        margin: 2.5rem auto;
    }

    .img-principal {
        width: 75%;
    }

    .div-mais-info {
        width: 90%;
        margin: auto
    }

    .info-secundaria {
        width: 70%;
        margin: 5rem 2rem;
        display: flex;
        flex-direction: column;
    }

    .lado-a-lado {
        display: flex;
        flex-direction: row;
        margin-top: 3em;
        justify-content: space-between;
        align-items: center;

        .img-diferente {
            width: 35%;
            margin: 0 5rem;
            height: fit-content;
        }
    }

    .direita {
        float: right;
    }

    .li {
        padding: 0.5em;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        hyphens: auto;
    }
}

@media (max-width: 975px) {
    body {
        background-size: 20rem;
    }

    .principal {
        .info-secundaria {
            margin: 2em 3em;
        }

        .lado-a-lado {
            .img-diferente {
                margin: 0 2rem;
            }
        }

    }
}

@media (max-width: 768px) {
    body {
        background-position-y: 20%, 55%, 75%;
        background-size: 15rem;
    }

    .principal {
        .img-principal {
            width: 90%;
        }
        .div-mais-info {
            width: 70%;
        }

        .info-secundaria {
            width: 100%;
            margin: 2em 0;
        }

        .lado-a-lado {
            flex-direction: column;
            margin-top: 0;

            .img-diferente {
                width: 75%;
            }
        }

        .direita {
            float: none;
        }
    }
}

@media (max-width: 480px) {
    body {
        background-image: none;
    }

    .principal {
        h2 {
            font-size: 3.7em;
            text-align: center;
        }
        
        .div-mais-info {
            width: 90%;
        }
    }
}