
.titulo {
    text-align: center;
    font-family: 'Quicksand';
    font-size: 15px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.titulo span {
    color: #FF67C5B2;
}

.teste_interativo {
    text-align: center;
}

.teste_interativo h2 {
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 400;
}

.teste_interativo img {
    width: 150px;
    margin: 0 20px;
}

.teste_interativo button {
    background-color: #f8f4ec;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.teste_interativo button:hover {
    transform: scale(1.05);
}

.btn-explorar {
    text-align: center;
}

.btn-explorar button {
    font-size: 20px;
    font-weight: 600;
    background-color: #D9D9D9;
    padding: 15px 60px;
    border-radius: 10px;
    margin-top: 60px;
    cursor: pointer;
}

.btn-explorar button:hover {
    background-color: #bfbfbf;
}

.selected img {
    border: 3px solid #888888;
    border-radius: 90px;
}


@media (max-width: 768px) {
    .teste_interativo h2 {
        font-size: 24px;
    }
    .teste_interativo img {
        width: 100px;
        margin: 0 10px;
    }
    .teste_interativo button {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .teste_interativo h2 {
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .teste_interativo img {
        width: 80px;
        margin: 0 5px;
    }
    .teste_interativo button {
        font-size: 12px;
        padding: 8px;
    }
    .btn-explorar button {
        font-size: 16px;
        padding: 10px 40px;
    }
}
