:root {
    --color-fundo-body: #f4f4f4;
    --color-fundo-tab: #fff;
    --color-letras: #00224f;
    --color-not: rgba(255, 147, 197, 0.3);
    --color-filtro: rgba(30, 180, 255,0.2);
    --color-switch: rgba(0, 34, 79,0.8);
    --color-bordas: rgba(0, 0, 0, 0.2);
    --color-event: rgba(243, 79, 79, 0.5); 
    --color-mensal: rgba(243, 79, 79, 0.2); 
    --color-dias: rgba(196, 211, 219, 0.2);

  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
  }
  
  body {
    display: flex;
    background-color: var(--color-fundo-body);
  }

  html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

section.calen {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}



  
  .header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 107px;
    background: linear-gradient(100deg, #fff 20%, rgba(255, 179, 255, 0.5) 60%,  rgba(30, 180, 255, 0.3) 100%);
    color: #333;
    font-size: 24px;
    font-weight: bold;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  .logo {
    width: 20%;
  }
  
  .floating-menu {
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    height: 85%;
    position: fixed;
    top: 110px;
    right: -300px;
    width: 250px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: right 0.3s ease;
    border-radius: 8px;
    z-index: 100;
  }
  
  .floating-menu img{
    position:relative;
    top: 0.2em;
    right: 0.5em;
  }
  
  .floating-menu.show {
    top: 110px;
    right: 0px;
  }
  
  .floating-menu h4 {
    font-weight: bold;
  }
  
  .floating-menu p{
    font-weight: 250;
  }
  
  .toggle-menu {
    position:relative;
    top: 0.15em;
    /* background-color: #2c3e50; */
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 20;
  }
  
  main {
    flex: 1;
    padding: 80px 20px 20px 20px;
    margin-left: 15px;
  }
  
  .dashboard {
    color: var(--color-switch);
    padding: 20px;
    border-radius: 8px;
  }
  
  .title {
    color: var(--color-letras);
    display: flex;
    justify-content:center;
    font-weight: 100;
  }
  
  h3, h4, p {
    margin-top: 10px;
    font-weight:500;
  }
  li{
    color:#2c3e50 ;
  }
  .dashB{
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    margin-top: 2.2em;
    color: var(--color-letras);
    padding: 1.5em;
    background-color: var(--color-fundo-tab);
    width: 95% ;
    height: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
  }
  .dashB h3{
    position: relative;
    top: 10px;
  }
  .calendario {
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 20px;
  }
  .calendario img{
    position: relative;
    top:1px;
    right: 0.6em;
  }
  .header-menu{
    color: var(--color-letras);
  }
  .font-size-control {
    position: relative;
    left: 1.2em;
    top: 0.5em;
    width: 42%;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3); 
    border-radius: 15px; 
    padding: 3px 8px; 
    gap: 5px; 
    background-color: white;
  }
  
  .btnFM {
    border: none;
    background: transparent;
    font-size: 14px; 
    font-weight: bold;
    cursor: pointer;
    padding: 3px 6px; 
    color: #334155; 
  }
  
  .font-size-display {
    font-size: 14px;
    font-weight: bold;
    color: #334155;
  }
  
  .btn:hover {
    color: #1e293b;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    gap: 20px; 
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  
  .user-name {
    font-weight: bold;
  }
  
  .user-role {
    font-size: 12px;
    color: #666;
  }
  
  .icon-btn {
    margin-right: 1em;
    margin-top: 0.5em;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .icon-btn:hover {
    opacity: 0.7;
  }
  
  #menuButton {
    position: fixed;
    top: 108px; 
    left: 0px;
    background: var(--color-fundo-tab);
    border: 1px solid rgba(0, 0, 0, 0.3); 
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
    width: 280px;
    height: 15px;
  }
  
  
  .sidebar {
    position: fixed;
    top: 107px; 
    left: 0px;
    width: 280px;
    height: 85%;
    color: var(--color-letras);
    background-color: var(--color-fundo-tab);
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    transform: scaleY(0);
    transform-origin: top;
    z-index: 999;
  }
  
  
  .sidebar.show {
    transform: scaleY(1);
  }
  
  
  #content {
    transition: margin-left 0.3s ease;
    margin-left: 0;
  }
  
  .sidebar  ul li:hover, .active{
    color: var(--color-fundo-tab);
    background-color:var(--color-switch) ;
  }
  .sidebar ul{
    list-style: none;
  }
  .sidebar ul li {
    padding: 15px;
    margin: 5px 0;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  .sidebar img {
    position: relative;
    top: 1.5px;
    right: 5px;
  }

  .calendar {
    position: relative;
    left: 1.5%;
    background: var(--color-fundo-tab);
    border: 1px solid var(--color-bordas);
    border-radius: 8px;
    padding: 20px;
  }
  
  .hea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-switch);
  }

  .hea img{
    position: relative;
    top: 0.2em;
  }
  
  .hea h2 {
    font-size: 18px;
    margin: 0;
  }
  
  .hea button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .weekdays div {
    text-align: center;
    font-weight: 200;
    font-size: small;
    color: #888;
  }
  
  .days div {
    text-align: center;
    padding: 10px;
    margin: 2px 0;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    font-size: small;
  }
  
  .days div:hover {
    background: var(--color-dias);
  }
  
  .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .reserva-dot {
    background-color: #61c5f8;
  }
  
  .evento-dot {
    background-color: #f7b7d7;
  }
  .legend {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-top: 1px solid #ccc;
  }
  
  .legend-item {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .legend-item.reserva {
    background-color: #61c5f8;
  }
  
  .legend-item.evento {
    background-color: #f7b7d7;
  }
  
  .legend-item img{
    cursor: pointer;
  }

  .legend-item:last-child {
    margin-left: auto;
    background: none;
    padding: 0;
  }
  
  .reserva {
    background-color: #61c5f8;
  }
  
  .evento {
    background-color: #f7b7d7;
  }


  .eventos-hoje {
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    font-family: 'Segoe UI', sans-serif;
    position: relative;
    left: 1.5%;
    margin-top: 1.5em;
  }
  
  .titulo {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: var(--color-switch);
    justify-content: center;
  }

  .titulo img{
    display: flex;
    justify-content: center;
    width: 75%;
  }
  
  .titulo span {
    margin-right: 8px;
  }
  
  .lista-eventos {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .event {
    background-color: #d7f0ff;
    padding: 10px;
    border-radius: 6px;
  }

  
  .event p {
    margin: 0;
    color:  var(--color-switch);
    font-size: small;
    font-weight: 480;
  }
  



  .calen{
    width: 100%;
  }

  .novo-calendario {
    flex: 1;
    background-color: var(--color-fundo-tab); 
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;

  }
  
  .cabecalho-calendario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: small;
  }
  
  .cabecalho-calendario button {
    background-color: var(--color-fundo-tab);
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  
  .dias-semana-novo, .dias-novo {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    
  }
  
  .dias-semana-novo div {
    font-weight: 600;
    padding: 10px 0;
    color: var(--color-switch);
  }
  
  .dias-novo div {
    height: 100%;
    border: 1px solid #e5e5e5;
    position: relative;
    padding-top: 8px;
    font-size: medium;
    color: var(--color-switch);
    background-color: var(--color-fundo-tab);
  }
  
  .dias-novo div:hover{
    background-color: var(--color-dias);
    cursor: pointer;
  }
  
  .reserva-barra {
    background-color: #93d8ff;
  }
  
  .evento-barra {
    background-color: #ffc5de;
  }
  .layout-agenda {
    display: flex;
    gap: 50px;  
    width: 93.6%;
  }
  
  /* Coluna com as duas tabelas, uma em cima da outra */
  .coluna-esquerda {
    display: flex;
    flex-direction: column;
    gap: 30px;                 /* Espaço entre as tabelas */
    margin-left: 1.0em;
  }

  .event-calendario{
    display: flex;
    flex-direction: row;
    gap: 0.3%;
    margin-bottom: 4%;
    justify-content: space-between;
  }
  .new-event{
    font-size: small;
    background-color: var(--color-event);
    border-radius: 8px;
    padding: 0.4em;
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 10px;
    text-align: center;
  }

  .mensal{
    background-color: var(--color-mensal);
    padding: 0.4em;
    border-radius: 8px;
    cursor: pointer;
  }
  .semanal{
    background-color: var(--color-event);
    padding: 0.5em;
    border-radius: 8px;
    cursor: pointer;
  }

  .mensal-semanal{
    display: flex;
    gap: 2%;
  }

  .new-event p{
    display: contents;
  }
  

  @media(max-width: 768px){
  .calendar-body, .hea {
    display: none;
}

  .legend{
    border-top: none;
  }

  .coluna-esquerda{
    justify-content: center;
  }

  .layout-agenda {
    display: flex;
    flex-direction: column;
  }

  .calen {
    order: -1; /* Joga o calendário para cima */
    margin-bottom: 20px; /* Espaço entre o calendário e o restante */
  }

  .coluna-esquerda {
    order: 1;
  }

  .novo-calendario{
    max-width: 90%;
    margin-left: 2.6%;
  }

  .calendar{
    left: 0;
    width: 93%;
  }

  .eventos-hoje{
    left: 0;
    width: 93%;
  }
  .layout-agenda{
    width: 100%;
  }
}

@media(max-width: 320px){
  .new-event p{
    display: none;
  }
    .calen {
    transform: scale(1);
    transform-origin: top center;
    margin: 0 auto;
    padding: 0;
  }

  .novo-calendario {
    width: 213.75px;
    margin: 0 20px;
    padding: 8px;
  }

  .dias-semana-novo {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 0.6rem;
    gap: 1px;
  }

  .dias-novo {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
  }

  .dias-novo div {
    font-size: 0.6rem;
    min-height: 50px;        /* Altura super reduzida */
    padding: 2px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
  }

  .event-calendario span,
  .cabecalho-calendario h2 {
    font-size: 0.7rem;
  }

  .cabecalho-calendario {
    gap: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cabecalho-calendario button img {
    width: 12px;
  }
  .layout-agenda {
  padding: 0;
  margin: 0;
}
 .dashB{
  font-size:small;
 }
 .dashB img{
  width: 15px;
 }

 .calendar{
  width: 89%;
 }

  .eventos-hoje{
  width: 89%;
 }
 .mensal-semanal{
  font-size: small;
  width: 20px;
 }
 
}