@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Potta+One&family=Quicksand:wght@300..700&family=Rammetto+One&family=Zen+Kurenaido&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: "Zen Kurenaido", sans-serif;
}

html {
    font-size: 62.5%;
}

a {
    color: #1100ff;
    font-family: "Open Sans", sans-serif;

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        color: #6d6d6d;
        text-decoration: underline;
    }
}