.modal {
    & .modal-content {
        & .delete {
            position: absolute;
            right: 1rem;
            top: 1rem;
        }

        & .titulo-modal {
            text-align: center;
            font-size: 2.5rem;
            margin-top: 3rem;
        }

        & .infos-hospedagem {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 2rem;

            & .alinhamento {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                margin: 3rem 0;

                & .paragrafo-modal {
                    font-size: 1.7rem;
                }

                & .container-sevicos {
                    display: flex;
                    justify-content: center;
                    gap: 3rem;
                    flex-wrap: wrap;
                }

                & .cards-servicos {
                    background-color: #93CBDB4D;
                    display: flex;
                    width: 20rem;
                    justify-content: center;
                    padding: 1rem 2rem;
                    border-radius: .3rem;

                    & .icons-servicos {
                        width: 2rem;
                    }

                    & .tipo-servico {
                        font-size: 1.7rem;
                    }
                }

                & .preco-servicos {
                    text-align: center;
                }

                & .valor-total {
                    background-color: #FFE03980;
                    padding: 1rem;
                    width: 20rem;
                    margin: 2rem auto;
                    text-align: center;
                    font-size: 1.7rem;
                    border-radius: .4rem;

                    & span {
                        font-weight: bold;
                    }
                }
            }

            & .container-cartao {
                display: flex;
                flex-direction: column;

                & .infos-cartao {
                    background-color: #fefefe;
                    display: flex;
                    align-items: start;
                    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
                    padding: 1rem;
                    border-radius: .5rem;
                    width: fit-content;
                    margin-top: 1rem;

                    & .icon-cartao {
                        width: 4rem;
                    }
                }
            }
        }

        & .btn-finalizar {
            background-color: #93CBDB;
            box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
            border-radius: .4rem;
            margin-bottom: 3rem;
            margin: auto;
        }
    }
}

@media screen and (max-width: 480px) {
    .modal {
        text-align: center;

        & .container-cartao {
            & .infos-cartao {
                margin: auto;
            }
        }
    }
}